<% include ../partials/header%>
<div>
  <h3>Name:<%= zoo.name %></h3>
  <h3>Location:<%= zoo.location %></h3>
</div>
<div>
  <% zoo.animals.forEach(function(animal){ %>
    <a href="/zoos/<%=zoo.id%>/animals/<%=animal.id%>"><%=animal.name%><%=animal.species%><%=animal.age%></a>
    <img src="<%=animal.photo%>" alt="Animal Photo"> 
  <% }); %>
</div>
<div>
  <a href="/zoos/<%=zoo._id%>/edit" class="btn btn-info btn-block">Edit</a>
  <a href="/zoos/<%=zoo._id%>/animals/new">Add new animal</a>
  <form action="/zoos/<%=zoo._id%>?_method=DELETE" method="POST">
    <input type="submit" value="Delete" class="btn btn-alert btn-block">
  </form>
</div>  
<div>
  <a href="/zoos" class="btn btn-success btn-block">See all zoos</a>
</div>
<% include ../partials/footer%>